
*{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}




body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

p {
    margin: 0;
}